extends ../layouts/layout

block content  
    section#banner-area
        .owl-carousel.owl-theme
            .item
                img(src='./images/assets/Banner1.png', alt='Banner1')
            .item
                img(src='./images/assets/Banner2.png', alt='Banner2')
            .item
                img(src='./images/assets/Banner1.png', alt='Banner3')
    section#top-sale
        .container.py-5
            h4.font-rubik.font-size-20 Top Sale
            hr
            // Owl-carousel
            .owl-carousel.owl-theme
                each product in topsales
                    .item.py-2
                        .product
                        a(href='/product/' + product.id)
                            img.img-fluid(src=product.imagePath, alt='product1')
                        .text-center
                            h6=product.title
                            .rating.text-warning.font-size-12
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                            .price.py-2
                                span="$"+product.newPrice
                            a.btn.btn-warning.font-size-12(href='/cart/add/' + product.id) Add to Cart
    section#special-price
        .container
            h4.font-rubik.font-size-20 All Products
            hr
            #filters.button-group.text-right
                button.btn.is-checked(data-filter='*') All Brand
                button.btn(data-filter='.Apple') Apple
                button.btn(data-filter='.Samsung') Samsung
                button.btn(data-filter='.Redmi') Redmi
            .grid
                each product in products
                    .grid-item.border(class=product.author)
                        .item.py-2(style='width: 200px')
                            .product.font-rale
                                a(href='/product/' + product.id)
                                    img.img-fluid(src=product.imagePath, alt='product1')
                                .text-center
                                    h6=product.title
                                    .rating.text-warning.font-size-12
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    .price.py-2
                                        span="$"+product.newPrice
                                    a.btn.btn-warning.font-size-12(href='/cart/add/' + product.id) Add to Cart
    section#new-phones
        .container.py-5
            h4.font-rubik.font-size-20 New phone
            hr
            // Owl-carousel
            .owl-carousel.owl-theme
                each product in newphones
                    .item.py-2
                        .product
                        a(href='/product/' + product.id)
                            img.img-fluid(src=product.imagePath, alt='product1')
                        .text-center
                            h6=product.title
                            .rating.text-warning.font-size-12
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                            .price.py-2
                                span="$"+product.newPrice
                            a.btn.btn-warning.font-size-12(href='/cart/add/' + product.id) Add to Cart
    section#banner-adds
        .container.py-5.text-center
            img.px-2.img-fluid(src='/images/assets/banner1-cr-500x150.jpg', alt='BannerAdd1')
            img.img-fluid(src='/images/assets/banner2-cr-500x150.jpg', alt='BannerAdd1')
    section#laest-block
        .container.py-5
            h4.font-rubik.font-size-20 Laest Blogs
            hr
            .owl-carousel.owl-theme
                .item.py-2
                    .card.border-0(style='width: 16rem')
                        img.card-img-top(src='/images/assets/blog/blog1.jpg', alt='CardBlog1')
                    .card-body
                        p.font-rale.font-size-14
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis non iste sequi cupiditate tempora iure. Velit accusamus saepe harum sed.
                    a.color-primary.font-size-16.font-rubik(href='#') Go somewhere
                .item.py-2
                    .card.border-0(style='width: 16rem')
                        img.card-img-top(src='/images/assets/blog/blog2.jpg', alt='CardBlog1')
                    .card-body
                        p.font-rale.font-size-14
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis non iste sequi cupiditate tempora iure. Velit accusamus saepe harum sed.
                    a.color-primary.font-size-16.font-rubik(href='#') Go somewhere
                .item.py-2
                    .card.border-0(style='width: 16rem')
                        img.card-img-top(src='/images/assets/blog/blog3.jpg', alt='CardBlog1')
                    .card-body
                        p.font-rale.font-size-14
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis non iste sequi cupiditate tempora iure. Velit accusamus saepe harum sed.
                    a.color-primary.font-size-16.font-rubik(href='#') Go somewhere


